# Git
.git
.gitignore

# Dependencies
node_modules

# Build Output
dist
out

# Logs
logs
*.log

# Environment Variables
.env
.env.*
!.env.example

# IDEs
.idea
.vscode
*.swp
*.swo

# Backend Specific
backend/db/
backend/downloads/

*.sqlite
*.ps1