# General
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependencies
node_modules/
.pnpm-store

# Build
dist/
build/
*.local

# Environment Variables
.env
.env.*
!.env.example

# Backend Specific
backend/db/
backend/downloads/

*.sqlite
*.ps1