services:
  app:
    # build:
    #   context: .
    #   dockerfile: Dockerfile
    image: heisenyu/hanime-server:latest
    container_name: hanime-server
    restart: unless-stopped
    depends_on:
      - cf-bypass
    environment:
      - USE_PROXY=${USE_PROXY:-false}
      - PROXY_URL=${PROXY_URL:-}
      - CLOUDFLARE_BYPASS_SERVICE_URL=http://cf-bypass:8000
    volumes:
      - ./data/downloads:/app/backend/downloads
      - ./data/db:/app/backend/db
    ports:
      - "7788:7788"

  cf-bypass:
    image: ghcr.io/sarperavci/cloudflarebypassforscraping:latest
    container_name: cf-bypass
    restart: unless-stopped
    ports:
      - "8000:8000"
    environment:
      - WORKERS=1
    deploy:
      resources:
        limits:
          memory: 1G
          cpus: '1.0'
    shm_size: 1g