services:
  app:
    # build:
    #   context: .
    #   dockerfile: Dockerfile
    image: heisenyu/hanime-server:latest
    container_name: hanime-server
    restart: unless-stopped
    environment:
      - USE_PROXY=${USE_PROXY:-false}
      - PROXY_URL=${PROXY_URL:-}
    volumes:
      - ./data/downloads:/app/backend/downloads
      - ./data/db:/app/backend/db
    ports:
      - "7788:7788"